<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input class="form-control" placeholder="Github username" [(ngModel)]="username" name="username">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" (click)="stream()">Stream!</button>
      </span>
    </div>
  </div>
</div>

<div *ngIf="user">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{user.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail" src="{{user.avatar_url}}">
        </div>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item"><strong>Username:</strong>&nbsp;{{user.login}}</li>
            <li class="list-group-item"><strong>Location:</strong>&nbsp;{{user.location}}</li>
            <li class="list-group-item"><strong>Email:</strong>&nbsp;{{user.email}} <span *ngIf="!user.emaill">not available</span></li>
            <li class="list-group-item"><strong>Blog:</strong>&nbsp;{{user.blog}}</li>
            <li class="list-group-item"><strong>Member Since:</strong>&nbsp;{{user.created_at}}</li>
          </ul>
        </div>
        <div class="col-md-12">
        <div class="stats">
          <span class="label label-default">{{user.public_repos}} Public Repos |</span>
          <span class="label label-primary">{{user.public_gists}} Public Gists |</span>
          <span class="label label-success">{{user.followers}} Followers |</span>
          <span class="label label-info">{{user.following}} Following</span>
        </div>
        </div>
      </div>
    </div>
  </div>


  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#allIssues" role="tab">All GitHub JavaScript Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#issues" role="tab">User Repositories Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#repositories" role="tab">User Repositories</a>
    </li>
  </ul>


  <div class="panel panel-default">

    <div class="tab-content">

    <div class="tab-pane active" id="allIssues" role="tabpanel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">

            <div *ngFor="let t of tab">
              <div class="row">
                <div class="col-md-2">
                  <a href="{{t.author.url}}" target="_blank"><img src="{{t.author.avatarUrl}}" class="img-thumbnail"></a>
                </div>
                <div class="col-md-7">
                  <h5><a href="{{t.url}}" target="_blank">{{t.title}}</a></h5>
                  <p></p>
                </div>
                <div class="col-md-3">
                  <span class="label label-default">{{t.createdAt}}</span>
                </div>
              </div>
              <hr/>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane" id="issues" role="tabpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">

          <!--<button class="btn btn-success" type="button" [(ngModel)]="repoLang:" name="JavaScript" (click)="stream()">Stream!</button>-->

          <div *ngFor="let issue of issues">
            <div class="row">
              <div class="col-md-2">
                <img src="{{issue.avatar}}" class="img-thumbnail">
              </div>
              <div class="col-md-7">
                <h5><a href="{{issue.url}}" target="_blank">{{issue.title}}</a></h5>
                <p>{{issue.body}}</p>
              </div>
              <div class="col-md-3">
                <span class="label label-default">{{issue.created_at}}</span>
              </div>
            </div>
            <hr/>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="tab-pane" id="repositories" role="tabpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let repo of repos">
            <div class="row">
              <div class="col-md-9">
                <h5><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h5>
                <p>{{repo.description}}</p>
              </div>
              <div class="col-md-3">
                <span class="label label-default">{{repo.watchers}} Watchers</span>
                <span class="label label-primary">{{repo.forks}} Forks</span>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
  </div>
</div>
